@{
    ViewBag.Title = "FinishOrderPvt";
    Layout = "~/Views/Shared/_LayoutClientPvt.cshtml";
}

<div class="container" style="background-color:white; float:right; width:auto; height:auto; border-radius:7%; margin-left:800px;">
    <h1 style="color:black; font-weight:700; font-family:Gabriola; text-align:left; margin-left:10px; font-size:50px;">Finish Order>Private</h1>
    <table class="table table-striped" cellspacing="0">
        <thead>
            <tr>
                <th>License Plate</th>
                <th>Chassi Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone No</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Street Address</th>
                <th>Postcode</th>
                <th>City</th>
                <th>Country</th>
                <th>Service Category</th>
                <th>Service</th>
                <th>Choosen Service</th>
                <th>Order Description</th>
                <th>Action</th>
            </tr>
            @foreach (var x in Model)
            {
                <tr>
                    <td>
                        @x.licensePlate
                    </td>
                    <td>
                        @x.chassiNo
                    </td>
                    <td>
                        @x.firstName
                    </td>
                    <td>
                        @x.lastName
                    </td>
                    <td>
                        @x.phoneNo
                    </td>
                    <td>
                        @x.mobile
                    </td>
                    <td>
                        @x.email
                    </td>
                    <td>
                        @x.streetAddress
                    </td>
                    <td>
                        @x.postcode
                    </td>
                    <td>
                        @x.city
                    </td>
                    <td>
                        @x.country
                    </td>
                    <td>
                        @x.serviceCategory
                    </td>
                    <td>
                        @x.service
                    </td>
                    <td>
                        @x.choosenService
                    </td>
                    <td>
                        @x.orderDescription
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span> Action</span>
                            </button>
                            <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 100px;">
                                <li><a href="/PrivateClient/updateFO/@x.Id">Update</a></li>
                                <li><a href="/PrivateClient/DeleteFP/@x.Id">Delete</a></li>
                                <li><a href="/PrivateClient/InvicePvt/@x.Id">Invoice</a></li>
                            </ul>
                        </div>
                    </td>

                </tr>
            }
        </thead>
    </table>
</div>
