@{
    ViewBag.Title = "MyInvoice";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}

<div class="container" style="background-color:white; width: 72%; float: right; margin-right: 70px; height: auto; border-radius: 7%; margin-left: 160px;">
    <form class="form-inline" role="form">
        <h1 style="color:black; font-weight:700; font-family:Gabriola; text-align:left; font-size:50px; margin-left:25px;">Company Invoice</h1>
        <div class="row">
            <div class="col-sm-6" id="form-style" style="margin-left:120px;">
                <input type="date" id="a" class="form-control" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-6" id="form-style" style="margin-left:100px;">
                <input type="date" class="form-control" id="b" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
        </div>

        <button id="fbutton" type="button" onclick="find()">Search</button>
    </form>
</div>

<script>

    function find() {
        var a = $('#a').val().toString();
        var b = $('#b').val().toString();


        $.getJSON("/Admin/SearchInvoiceCmpy",

        {
            a: a,
            b: b,

        },
         function (data) {

             //                console.log(data);
             if (data != null) {
                 var str = " ";
                 for (var i = 0; i < data.length; i++) {
                     str += "<tr>";
                     str += "<td id='r" + i + "'>" + data[i].InvoiceNo + "</td>";
                     str += "<td id='r" + i + "'>" + data[i].CmpyNo + "</td>";
                     str += "<td id='r" + i + "'>" + data[i].OrdersFrom + "</td>";
                     str += "<td id='r" + i + "'>" + data[i].OrderTo + "</td>";
                     str += "<td id='r" + i + "'>" + data[i].InvoiceDate + "</td>";
                     str += "<td id='r" + i + "'>" + data[i].OCR + "</td>";
                     str += "<td id='r" + i + "'>" + data[i].ExpDate + "</td>";
                     str += "<td id='r" + i + "'>" + data[i].OurReference + "</td>";
                     str += "<td id='r" + i + "'>" + data[i].ContactPerson + "</td>";
                     str += "<td id='r" + i + "'>" + data[i].Interest + "</td>";
                     str += "<td id='r" + i + "'>" + data[i].ReminderFee + "</td>";
                     str += "<td id='r" + i + "'>" + data[i].UserName + "</td>";
                     str += "<td id='r" + i + "'>" + data[i].OrderNo + "</td>";
                     str += "<td id='r" + i + "'>" + data[i].Status + "</td>";

                     str += "</tr>";
                 }

             }

             else if (data == false) {
                 alert("Sorrry no record");
             }
             $('#t12').html(str);
         });

    };
</script>


<div class="container" style="background-color:white; width:78%; float: right;  height: auto; border-radius: 7%; margin-left: 200px; margin-right:25px; ">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Invoice Number</th>
                <th>Company Number</th>
                <th>Invoice Date</th>
                <th>Due Date</th>
                <th>Order From</th>
                <th>Order To</th>
                <th>Invoice Date</th>
                <th>OCR</th>
                <th>Exp Date</th>
                <th>Our Reference</th>
                <th>Contact Person</th>
                <th>Interset</th>
                <th>Remainder Fee</th>
                <th>User Name</th>
                <th>Order Number</th>
                <th>Status</th>
                <th>Measurement</th>
        <tbody id="t12">
            @foreach (var x in Model)
            {
                <tr>
                    <td>
                        @x.InvoiceNo
                    </td>
                    <td>
                        @x.CmpyNo
                    </td>
                    <td>
                        @x.OrdersFrom
                    </td>
                    <td>
                        @x.OrderTo
                    </td>
                    <td>
                        @x.InvoiceDate
                    </td>
                    <td>
                        @x.OCR
                    </td>
                    <td>
                        @x.ExpDate
                    </td>
                    <td>
                        @x.OueReference
                    </td>
                    <td>
                        @x.ContactPerson
                    </td>
                    <td>
                        @x.Interest
                    </td>
                    <td>
                        @x.ReminderFee
                    </td>
                    <td>
                        @x.UserName
                    </td>
                    <td>
                        @x.OrderNo
                    </td>
                    <td>
                        @x.Status
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span>Measurement</span>
                            </button>
                            <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 100px;">
                                <li><a href="/Admin/updateSerCmpy/@x.Id">Update</a></li>
                                <li><a href="/Admin/DeleteServiceCmpy/@x.Id">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>





